html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu h1 {
  flex: 0.8;
  font-size: 40px;
  color: #ffff;
}

.item_menu {
  font-size: 20px;
  padding-right: 10px;
  color: #ffff;
}

.item_menu2 {
  font-size: 20px;
  color: #ffff;
}

header {
  background-color: #279989;
}
