html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffc845;
}

body {
  margin: 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu h1 {
  flex: 0.8;
  font-size: 3.5vw;
  color: #ffff;
}

.item_menu {
  font-size: 2.5vw;
  padding-right: 10px;
  color: #ffff;
}

.item_menu2 {
  font-size: 2.5vw;
  color: #ffff;
}

header {
  background-color: #279989;
}

.flex-box1 {
  margin: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #44a080;
}

.flex-box1 a {
  flex: 0.8;
}

.flex-box1 p {
  color: #ffff;
  font-size: 25px;
}

.producto {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.lista {
  list-style: none;
  justify-content: center;
  align-self: center;
  flex: 0.6;
  margin-left: -45px;
}

li {
  list-style: none;
}

.x {
  font-weight: bold;
  font-size: 16px;
}

.listaDeIngredientes {
  margin-top: -16px;
  background-color: #ffc845;
}

.tachar {
  text-decoration: line-through;
}

.black_line {
  height: 1px;
  background-color: black;
  margin-top: -15px;
}

.flex-box3 {
  display: flex;
  justify-content: flex-end;
}

.flex-box3 p {
  margin-right: 9.5%;
  font-size: 25px;
  margin-top: 15px;
}
