@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&family=Roboto&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");

html {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu",
    Arial, sans-serif;
  background-color: #ffc845;
}

body {
  margin: 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu h1 {
  flex: 0.8;
  font-size: 20px;
  color: #ffff;
}

.item_menu {
  font-size: 13px;
  padding-right: 10px;
  color: #ffff;
}

.item_menu2 {
  font-size: 13px;
  color: #ffff;
}

header {
  background-color: #279989;
}

.flex-box1 {
  margin: 0;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #44a080;
}

.flex-box1 a {
  flex: 0.6;
}

.flex-box1 p {
  color: #ffff;
  font-size: 21px;
}

.producto {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.lista {
  list-style: none;
  justify-content: center;
  align-self: center;
  flex: 0.6;
  margin-left: -45px;
}

li {
  list-style: none;
}

.x {
  font-weight: bold;
  font-size: 16px;
}

.listaDeIngredientes {
  margin-top: -16px;
  background-color: #ffc845;
}

.tachar {
  text-decoration: line-through;
}

.black_line {
  height: 1px;
  background-color: black;
  margin-top: -15px;
}

.flex-box3 {
  display: flex;
  justify-content: flex-end;
}

.flex-box3 p {
  margin-right: 9.5%;
  font-size: 25px;
  margin-top: 15px;
}

.formulario-box {
  margin-top: -5px;
  padding-left: 25px;
}

[for="nombre"] {
  display: block;
  margin-top: -4px;
}

[id="nombre"] {
  margin-top: 5px;
  height: 25px;
  width: 50vw;
}

[for="precio"] {
  display: block;
  margin-top: 15px;
}

[id="precio"] {
  margin-top: 5px;
  height: 25px;
  width: 50vw;
  display: inline;
}

[type="submit"] {
  display: block;
  margin-top: 19px;
  width: 36vw;
  height: 5vh;
  background-color: #5fa789;
  border: none;
  color: #ffff;
  font-size: 17px;
}
